@font-face {
  font-family: "IRANSansWeb";
  src: url("../public/fonts/IRANSansWeb.eot"),
    url("../public/fonts/IRANSansWeb.woff2") format("woff2"),
    /* chrome、firefox */ url("../public/fonts/IRANSansWeb.woff") format("woff"); /* chrome、firefox */
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: IRANSansWeb;
}
